body{
    width: 350px;
    height: 180px;
    padding: 0px;
    margin: 0;
    overflow: hidden;
}
h1{
    width: 100%;
    font-size: 18px;
    color: #222;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}
.ex__container{
    width: calc(100% - 20px);
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ex__container textarea{
    margin: 5px;
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    max-height: 200px;
    min-height: 100px;
    border : 2px solid #e4f0f5;
    border-radius: 5px;
}
.ex__container textarea:focus{
    border : 2px solid #e4f0f5;
    border-radius: 5px;
}
.ex__container .textareaName{
    color: #222222;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}
.ex__container .convertBtnsBlock{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ex__container .convertBtnsBlock button{
    padding: 10px 20px;
    color: #fff;
    background: rgb(51, 106, 223);
    border: none;
    cursor: pointer;
}
.ex__container .convertBtnsBlock button:hover{
    background: rgb(30, 121, 240);
}

